/.idea/
/.vscode/
/.angular/
/.cache/
/.DS_Store

/frontend/.angular/
/frontend/coverage/
/frontend/dist/
/frontend/node_modules/

/data/target/
/core/target/
/api/target/
/target/

*.iml
*.log
*.tmp
.env
.env.*
!.env.example
*.local
secrets/
/frontend/src/environments/environment.local.ts
